<!DOCTYPE html>
<html>
<head>
    <title>My Students</title>
</head>
<body>

<h2>My Students</h2>
<form method="GET" action="/students">

    <input type="text"
           name="search"
           placeholder="Search by Name or Register Number">

    <button type="submit">Search</button>

    <a href="/export_excel">📊 Export to Excel</a>

    <a href="/export_pdf">📄 Export to PDF</a>

</form>

<br>

<a href="/dashboard">Dashboard</a>
<a href="/add_student">Add Student</a>

<table border="1" cellpadding="10">

<tr>
    <th>Register No</th>
    <th>Name</th>
    <th>Department</th>
    <th>Year</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Photo</th>
    <th>Father Name</th>
    <th>Mother Name</th>
    <th>Address</th>  
    <th>Actions</th>
</tr>

{% for student in students %}
<tr>
    <td>{{ student.register_number }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.department }}</td>
    <td>{{ student.year }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.phone }}</td>
    <td>
    <img src="{{ url_for('static', filename='images/' + student.photo) }}"
         width="80" height="80">
    </td>
    <td>{{ student.father_name }}</td>
    <td>{{ student.mother_name }}</td>
    <td>{{ student.address }}</td>
    <td>
    <a href="/edit_student/{{ student.id }}">✏️ Edit</a> |
    <a href="/delete_student/{{ student.id }}"
       onclick="return confirm('Are you sure you want to delete this student?')">
       🗑 Delete
    </a>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>